/*
***
* STYLE SHEET PROJECT BOUNCING BALLS
***
* This document includes all the 
* css rules and media queries 
* applied to the web page
***
*/

/*This rule apply border-box to every element in the web page*/
* {
  box-sizing: border-box;
}

/*background image*/
body {
  margin: 0;
  height: 100%;
  position: sticky;
  background-image: url("../img/external-content.duckduckgo.com.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*h1 style */

h1 {
  position: absolute;
  top: -130px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

h1::after {
  content: "Game";
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: #212121;
  font-size: 12px;
  padding: 7px 15px;
  outline: 1px solid white;
  outline-offset: 4px;
}

/*container style*/
#container {
  position: relative;
  background-color: #ccddcc;
  margin: 6em auto;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  width: 800px;
  height: 450px;
  padding: 1%;
  z-index: 2;
}

/*balls style*/
.ball {
  background-color: black;
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

/*This rule set the position and dimension of the dashboard*/
#dashboard {
  width: 100%;
  height: 120px;
  margin-top: -80px;
  text-align: center;
}

/*This rules set the buttons style*/
.btc {
  background-color: #ccddcc;
  width: 100px;
  height: 60px;
  margin: 5px;
  border-radius: 10%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 1;
}

#buttons {
  float: left;
  width: 70%;
  z-index: 1;
}

/*style of the colour palette*/
#colorchange {
  float: left;
  width: 180px;
  background-color: #ccddcc;
  border: black solid 1px;
  border-radius: 8%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#colorchange p {
  text-align: center;
}

#colorchange input {
  margin-bottom: 1px;
  margin-left: 40%;
  transform: translateX(-50%);
  cursor: pointer;
}


/*
si può eliminare ??

.ballc {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 1;
}
*/

/*counter style*/
#counter {
  text-align: center;
}

#counterBtn {
  background-color: #ccddcc;
  width: 100px;
  height: 75px;
  margin: 5px;
  border-radius: 10%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}

/*gravity slider style and position*/
#gravity {
  position: absolute;
  top: 415px;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

/*music and info buttons style and position*/
#musicPlay,#musicPause, #info{
  background-color: #ccddcc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -90px;
  left: 5px;
}
#musicPause{
  left: 50px;
}
#info{
  top: -45px;
}

/**
* MEDIA QUERIES
*/

/* media that applies to screen with min width = 1310px */
@media (min-width: 1310px) {

  /*This rule set a linear gradient to the background*/
  html::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  }

  /*This rule hide the overflow*/
  body {
    overflow: hidden;
  }
}

/* media that applies to screen with max width = 1200px */
@media (max-width: 1200px) {

  /*This rule change the size of the container*/
  #container {
    width: 1000px;
    height: 600px;
  }

  /*This rule change the position of the gravity slider*/ 
  #gravity {
    top: 50px;
    z-index: 2;
    top: 565px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* media that applies to screen with max width = 1024px */
@media (max-width: 1024px) {

  /*This rule change the size of the container*/
  #container {
    width: 750px;
    height: 450px;
  }

  /*This rule change the position of the gravity slider*/
  #gravity {
    position: absolute;
    top: 420px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* media that applies to screen with max width = 768px */
@media (max-width: 768px) {

  /*This rule change the size of the container*/
  #container {
    width: 450px;
    height: 250px;
    margin: 10em auto;
  }

  /*This rule change the position of the title*/
  h1 {
    top: -190px;
  }

  /*This rule keep the buttons in the middle of the page*/
  #buttons {
    width: 100%;
  }

  /*This rule keep the palette in the middle of the page*/
  #colorchange {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  /*This rule change the position of the gravity slider*/
  #gravity {
    top: 225px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
  }

/*music and info buttons style and position with smaller screen*/
  #musicPlay,#musicPause, #info{
    background-color: #ccddcc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -105px;
    z-index: -1;
  }

  #musicPause{
    left: 50px;
  }
  
  #info{
    top: -150px;
  }
}

/* media that applies to screen with max width = 480px */
@media (max-width: 480px) {

  /*This rule change the size of the container*/
  #container {
    width: 300px;
    height: 200px;
  }

  /*This rule change the position of the gravity slider*/
  #gravity {
    top: 175px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
  }
}