/*
***
* STYLE SHEET PROJECT BOUNCING BALLS
***
* This document includes all the 
* css rules and media queries 
* applied to the web page
***
*/

/* TODO: fix style */

/*This rule apply border-box to every element in the web page*/
* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

/*background image*/
body {
  margin: 0;
  height: 100%;
  position: sticky;
  background: url("../media/img/bg.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*h1 style */

h1 {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

h1::after {
  content: "Game";
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: #212121;
  font-size: 12px;
  padding: 7px 15px;
  outline: 1px solid white;
  outline-offset: 4px;
}

/*container style*/
#container {
  position: relative;
  background-color: #ccddcc;
  margin: 3em auto 1em auto;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  width: 90vw;
  height: 65vh;
  padding: 1%;
  outline: black solid 2px;
  z-index: 2;
}

/*balls style*/
.ball {
  background-color: black;
  position: absolute;
  display: inline-block;
  border: 0.5px solid black;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

/*This rule set the position and dimension of the dashboard*/
#dashboard {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  height: 10vh;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

/*This rules set the buttons style*/
.btc {
  background-color: #ccddcc;
  height: 100%;
  padding: 0 2em;
  border-radius: 10%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 1;
}

/* style of counter */
#counter {
  background-color: #ccddcc;
  display: grid;
  place-items: center;
  height: 100%;
  padding: 0 2em;
  border-radius: 10%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/*style of the colour palette*/
#colorchange {
  padding: 0.5em;
  background-color: #ccddcc;
  border: black solid 1px;
  border-radius: 8%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#colorchange p {
  text-align: center;
}

#colorchange input {
  margin-bottom: 1px;
  margin-left: 40%;
  transform: translateX(-50%);
  cursor: pointer;
}

#gravity {
  position: absolute;
  top: 74vh;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

/*music and info buttons style and position*/
#musicPlay,
#musicPause,
#info {
  background-color: #ccddcc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -20px;
  left: 5px;
}
#musicPause {
  left: 50px;
}
#info {
  top: 25px;
}

@media (max-width: 1200px) {
  /*This rule change the position of the gravity slider*/
  #gravity {
    top: 50px;
    z-index: 2;
    top: 565px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* media that applies to screen with max width = 1024px */
@media (max-width: 1024px) {
  /*This rule change the position of the gravity slider*/
  #gravity {
    position: absolute;
    top: 420px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* media that applies to screen with max width = 768px */
@media (max-width: 768px) {
  /*This rule keep the buttons in the middle of the page*/
  #buttons {
    width: 100%;
  }
}
