body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
    "menu menu header header header header header header header header . ."
    "menu menu header header header header header header header header . ."
    ". container container container container container container container container container container ."
    ". container container container container container container container container container container ."
    ". container container container container container container container container container container ."
    ". container container container container container container container container container container ."
    ". container container container container container container container container container container ."
    ". container container container container container container container container container container ."
    ". container container container container container container container container container container ."
    ". container container container container container container container container container container ."
    ". dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard ."
    ". dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard .";
  justify-items: stretch;
  column-gap: 10px;
  row-gap: 20px;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url("../media/img/bg.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* HEADER */

#title {
  grid-area: header;
  text-align: center;
}

#title h1 {
  color: white;
  letter-spacing: 2px;
  margin: 0.2em 0 0.6em 0;
}

#title span {
  background: white;
  color: #212121;
  padding: 0.5em 1em;
  outline: 1px solid white;
  outline-offset: 4px;
}

/* MAIN CONTAINER */

#container {
  grid-area: container;
  background-color: #ccddcc;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  outline: black solid 2px;
  z-index: 2;
}

.ball {
  background-color: black;
  position: absolute;
  display: inline-block;
  border: 0.5px solid black;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

/* DASHBOARD */

#dashboard {
  display: grid;
  grid-area: dashboard;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  column-gap: 4px;
  row-gap: 2px;
  margin-bottom: 10px;
}

.btc {
  background-color: #ccddcc;
  grid-row: 1 / 13;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 1;
}

#counter {
  grid-column: 8 / 10;
  grid-row: 1 / 10;
  background-color: #ccddcc;
  display: grid;
  place-items: center;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#gravity {
  grid-column: 8 / 10;
  grid-row: 10 / 13;
  align-self: center;
}

#colorchange {
  grid-column: 10 / 13;
  grid-row: 1 / 13;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 5px;
  background-color: #ccddcc;
  border: black solid 1px;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#inputcolor {
  cursor: pointer;
}

/* MUSIC AND INFO */

#music {
  grid-area: menu;
}

/*music and info buttons style and position*/
#music {
  margin: 0.5em 0 0 0.5em;
}

#musicPlay,
#musicPause,
#info {
  background-color: #ccddcc;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1150px) {
  body {
    grid-template-areas:
      "menu menu menu header header header header header header . . ."
      "menu menu menu header header header header header header . . ."
      ". container container container container container container container container container container ."
      ". container container container container container container container container container container ."
      ". container container container container container container container container container container ."
      ". container container container container container container container container container container ."
      ". container container container container container container container container container container ."
      ". container container container container container container container container container container ."
      ". container container container container container container container container container container ."
      ". dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard ."
      ". dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard ."
      ". dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard .";
  }

  .btc {
    grid-row: span 4;
    grid-column: span 4;
  }

  #counter {
    grid-row: span 4;
    grid-column: span 1;
  }

  #gravity {
    grid-row: span 4;
    grid-column: span 3;
  }

  #colorchange {
    grid-row: span 4;
    grid-column: span 4;
  }

  #inputcolor {
    margin-right: 5px;
  }
}

@media screen and (max-width: 630px) {
  body {
    grid-template-areas:
      "menu header header header header header header header header header header ."
      "menu header header header header header header header header header header ."
      ". container container container container container container container container container container ."
      ". container container container container container container container container container container ."
      ". container container container container container container container container container container ."
      ". container container container container container container container container container container ."
      ". container container container container container container container container container container ."
      ". container container container container container container container container container container ."
      ". dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard ."
      ". dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard ."
      ". dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard ."
      ". dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard dashboard .";
  }

  .btc {
    grid-row: span 2;
    grid-column: span 6;
  }

  #counter {
    grid-row: span 2;
    grid-column: span 2;
  }

  #gravity {
    grid-row: span 2;
    grid-column: span 4;
  }

  #colorchange {
    grid-row: span 4;
    grid-column: span 12;
    padding: 10px;
  }
}
